{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-textpage{% endblock %}

{% block content %}

    <h1>{{ page.intro }}</h1>

    <p>{{ page.desc|richtext }}</p>

    <p>{% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}</p>

    <p><a href="{{ page.get_parent.url }}">Return</a></p>

{% endblock %}