{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-textcategorypage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    

    {% for post in text_entries %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.intro }}
        {{ post.specific.desc|richtext }}
    {% endfor %}
    <h2><a href="{{ page.get_parent.url }}">Home</h2>

    {% for item in news %}
       <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2> 
    {% endfor %}  
{% endblock %}