{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div>{% image self.banner_image fill-1280x400 %}</div>

    
    {{ page.body|richtext }}

    {% for post in page.get_children %}
        <h6><a href="{% pageurl post %}">{{ post.title }}</a></h6>    
    {% endfor %}
    
    {% for new in latest_news %}
    <div class="container">
        <div class="row">
          <div class="col-sm"> 
          </div>
          <div class="col-sm">
                <h3><a href="{% pageurl new %}">{{ new.specific.title }} </a></h3>
          </div>
          <div class="col-sm">  
          </div>
        </div>
      </div> 
    
    
        
    {% endfor %}

    
{% endblock %}